.container
  .jumbotron
    h1 HockeyFan
    p Welcome to HockeyFan, the greatest and best place to fan about hockey.
   .row
     .col-md-6
       div(ng-include="'/partials/featured-courses'")
     .col-md-6
       div(ng-include="'/partials/new-courses'")