script(type="text/javascript", src="/vendor/jquery/dist/jquery.min.js")
script(type="text/javascript", src="/vendor/bootstrap/dist/js/bootstrap.js")
script(type="text/javascript", src="/vendor/toastr/toastr.js")
script(type="text/javascript", src="/vendor/angular/angular.js")
script(type="text/javascript", src="/vendor/angular-resource/angular-resource.js")
script(type="text/javascript", src="/vendor/angular-route/angular-route.js")
script(type="text/javascript", src="/app/app.js")
script(type="text/javascript", src="/app/main/hfMainCtrl.js")
script(type="text/javascript", src="/app/account/hfNavBarLoginCtrl.js")
script(type="text/javascript", src="/app/account/hfAuth.js")
script(type="text/javascript", src="/app/account/hfIdentity.js")
script(type="text/javascript", src="/app/common/hfNotifier.js")
script(type="text/javascript", src="/app/account/hfUser.js")
script(type="text/javascript", src="/app/account/hfSignupCtrl.js")
script(type="text/javascript", src="/app/account/hfProfileCtrl.js")
script(type="text/javascript", src="/app/admin/hfUserListCtrl.js")
script(type="text/javascript", src="/app/courses/hfCourseListCtrl.js")
script(type="text/javascript", src="/app/courses/hfCourse.js")
script(type="text/javascript", src="/app/courses/hfCachedCourses.js")
script(type="text/javascript", src="/app/courses/hfCourseDetailCtrl.js")