script( src="/vendor/jquery/dist/jquery.min.js")
script( src="/vendor/bootstrap/dist/js/bootstrap.js")
script( src="/vendor/toastr/toastr.js")
script( src="/vendor/angular/angular.js")
script( src="/vendor/angular-resource/angular-resource.js")
script( src="/vendor/angular-route/angular-route.js")
script( src="/app/app.js")
script( src="/app/main/clMainCtrl.js")
script( src="/app/account/clNavBarLoginCtrl.js")
script( src="/app/account/clAuth.js")
script( src="/app/account/clIdentity.js")
script( src="/app/common/clNotifier.js")
script( src="/app/account/clUser.js")
script( src="/app/account/clSignupCtrl.js")
script( src="/app/account/clProfileCtrl.js")
script( src="/app/admin/clUserListCtrl.js")

script( src="/app/courses/clCourseListCtrl.js")
script( src="/app/courses/clCourse.js")
script( src="/app/courses/clCachedCourses.js")
script( src="/app/courses/clCourseDetailCtrl.js")

script( src="/app/powerball/clPowerBall.js")

script( src="/app/lotteries/clLottery.js")
script( src="/app/lotteries/clCachedLotteries.js")
script( src="/app/lotteries/clLotteryDetailCtrl.js")
script( src="/app/lotteries/clLotteryListCtrl.js")

script( src="/app/scraper/clScraper.js")
script( src="/app/scraper/clCachedScrapers.js")
script( src="/app/scraper/clScraperDetailCtrl.js")
script( src="/app/scraper/clScraperListCtrl.js")


script( src="/app/powerball/clCachedPowerballDraws.js")
script( src="/app/powerball/clPowerballDetailCtrl.js")
script( src="/app/powerball/clPowerballListCtrl.js")