.container
  .jumbotron
    h1 Team Architect
    p Welcome to Team Architect, the greatest and best place to manage your team, coaches, players and parents.
   .row
     .col-md-6
       div(ng-include="'/partials/main/featured-courses'")
     .col-md-6
       div(ng-include="'/partials/main/new-courses'")