.container
  .jumbotron
    h1 Captain Lottery
    p Welcome to Captain Lottery! Where you steer your own lottery ship in!
   .row
     .col-md-6
       div(ng-include="'/partials/main/featuredLotteries'")
     .col-md-6
       div(ng-include="'/partials/main/latestDrawings'")